@font-face{font-family:Inter;font-weight:400;font-style:normal;src:url(fonts/inter-latin-400-normal.woff2) format("woff2")}
@font-face{font-family:Inter;font-weight:600;font-style:normal;src:url(fonts/inter-latin-600-normal.woff2) format("woff2")}
